.bg-menunav {
    background-color: rgba(173, 250, 177, 0.788);
}
.bg-footer {
    background-color: #6C757C;
}
.button {
    color:rgba(106, 255, 47, 0.692) ;
}
.bg-home {
    background-color: #F5F9FC !important;
}
.bg-verde-o {
    background-color: #d1ecd8;
}
.texto-verde {
    color: #29372B;
}